body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#product-list li {
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 250px;
}

img {
    width: 150px;
    height: auto;
}
